/* Füge das ganz oben in dein CSS hinzu */
* {
    box-sizing: border-box;
}

/* Und das für konsistente Darstellung */
button, input, select, a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


body {
    font-family: Arial, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
    color: green;
    cursor: pointer;
}

.container.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.link.button.mainPage {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
}
.link.button.mainPage:hover {
    background-color: #45a049;
}
.link.button.mainPage:active {
    background-color: #49634a;
    border-radius: 10px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}